<%- include('../partials/head.ejs') %>
<%- include('../partials/nav.ejs') %>

<div class="container">
     
     <h1>  My blog </h1>
     <div class="row">
          <% articles.forEach( article => { %>  
               <div class="col-md-6">
                    <div class="card mt-4">
                         <div class="card-body ">
                              <h4><%= article.title %></h4>
                              <div class="card-subtitle mb-2 mt-2 text-muted  ">
                              published at :  <%= article.createdAt.toLocaleDateString() %>  
                              </div>
                              <div class="card-text mb-2">
                                   <%= article.description %>
                              </div>
                              <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
                              <div class="like d-inline "> 
                                   <button id="myButton" class="btn btn-primary" > 
                                        <%= article.likes %>
                                        <i class='fas fa-thumbs-up' style='font-size:24px'> </i>
                                    </button>    
                              </div>
                              <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                                   <button type="submit" class="btn btn-danger">Delete</button>
                              </form>
                             
          
                         </div>
                         
                           
                    </div>
                 

               </div>
          <%} )%>
         
            
          
     </div>

     
            
    
        
</div>

<%- include('../partials/footer.ejs') %>
