<%- include('../partials/head.ejs') %>


<div class="container bg-light pt-5 py-5">

     <h1 class="text-center"> <%= article.title %> </h1>
     <div class="row">
          <div class="col-12">
               <div class="text-muted mb-2">
                    published at : <%= article.createdAt.toLocaleDateString() %>
               </div>

          </div>
          <div class="col-md-12">
               <img src="/Uploads/images/<%= article.image %>" class="img-fluid" alt="" srcset="">
          </div>

          <div class="col-12">
               <div>
                    <%= article.description %>
               </div>

          </div>
     </div>


     <!-- <div class="card">
          <h1 class="card-header" >Leave a Comment</h1>
          <form action="" method="POST">
               <input type="hidden" class="d-none " id="h" name="post_id">
               <div class="form-group">
                    <input type="text" name="username"  class="form-control">
               </div>
               <div class="from-group">
                    <textarea name="comment" id="comment" col="50"  rows="5" class="form-group"></textarea>
               </div>
               <button type="submit" class="btn btn-primary">Submit</button>
          </form>
     </div>  -->
     <a href="/" class="btn btn-secondary mt-5">All Articles</a>
     
     <a href="/" class="btn btn-secondary mt-5 k" >comment</a>


</div>

<%- include('../partials/footer.ejs') %>
